/* Fonts */
/* main color: rgb(117, 128, 216) */

/* Champagne And Limousines */
/* A font by Lauren Thompson (Nymphont) -> www.nymfont.com */
/*
@font-face {
    font-family: 'Champagne And Limousines';
    src: url('../font/champagne__limousines-webfont.eot');
    src: url('../font/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/champagne__limousines-webfont.woff2') format('woff2'),
         url('../font/champagne__limousines-webfont.woff') format('woff'),
         url('../font/champagne__limousines-webfont.ttf') format('truetype'),
         url('../font/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Champagne And Limousines';
    src: url('../font/champagne__limousines_bold-webfont.eot');
    src: url('../font/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/champagne__limousines_bold-webfont.woff2') format('woff2'),
         url('../font/champagne__limousines_bold-webfont.woff') format('woff'),
         url('../font/champagne__limousines_bold-webfont.ttf') format('truetype'),
         url('../font/champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
*/

/* Whipsmart */
/* A font by Lauren Thompson (Nymphont) -> www.nymfont.com */
/*
@font-face {
    font-family: 'Whipsmart';
    src: url('../font/whipsmart_bold-webfont.eot');
    src: url('../font/whipsmart_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/whipsmart_bold-webfont.woff2') format('woff2'),
         url('../font/whipsmart_bold-webfont.woff') format('woff'),
         url('../font/whipsmart_bold-webfont.ttf') format('truetype'),
         url('../font/whipsmart_bold-webfont.svg#whipsmartbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Whipsmart';
    src: url('../font/whipsmart-webfont.eot');
    src: url('../font/whipsmart-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/whipsmart-webfont.woff2') format('woff2'),
         url('../font/whipsmart-webfont.woff') format('woff'),
         url('../font/whipsmart-webfont.ttf') format('truetype'),
         url('../font/whipsmart-webfont.svg#whipsmartregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/* Make sure that footer is at the bottom of the screen */

html,body { margin: 0; padding: 0; height: 100%; }
.wrapall  { min-height: 100%; position: relative; }
.wrapmain { padding-bottom: 800px; max-width: 1200px; margin-left: auto; margin-right: auto; }
.wrapcont { display: block; width: 100%; }

footer    { 
    height: 130px;
    display: block;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
}

/* general stuff */

body {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Yantramanav', sans;
    background: rgb(69, 122, 204);
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

.clearing { clear: both; }
.initOff  { opacity: 0.0; }

/* loading screen */
#loading {
    font-family: sans;
    font-size: 1.2em;
    position: absolute;
    right: 20px;
    bottom: 50px;
    color: rgb(255, 255, 255);
}


/* header */

header {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header div {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header #title {
    font-size: 120px;
    font-family: serif;
    color: rgb(193, 217, 253);
}

header #subtitle {
    font-size: 20px;
    letter-spacing: 3px;
    color: rgb(193, 217, 253);
    position:relative;
    left: -70px;
    top: -50px;
    font-weight: normal;
}

header #contact {
    margin-top: 20px;
    font-size: 17px;
}


/* navigation */

nav {
    display: block;

    /* 10 px around vertical line on the right */
    border-right: 1px solid rgb(255, 255, 255);
    padding-right: 10px;

    font-family: 'Yantramanav', sans;
    font-size: 20px;
    
    width: 290px;
    overflow: hidden;
    float: left;

}


nav ul, nav p { text-align: right; }
nav ul        { list-style: none; }

nav p {
    font-size: 1.4em;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 5px;
    color: rgb(193, 217, 253);
    clear: both;
    margin-right: 10px;
    margin-left: 50px;
}

nav p:first-of-type { margin-top: 0px; }

nav p a,
nav p a:hover,
nav p a:visited,
nav p a:active {
  width: 100%;
  display: block;
  transition: background-color 0.4s ease;
  color: rgb(193, 217, 253);
  background: rgb(69, 122, 204);
}

nav p a:hover {
  background: rgb(193, 217, 253);
  color: rgb(69, 122, 204);
}

nav p a.active {
  background: rgb(204, 223, 253);
  color: rgb(69, 122, 204);
}

nav hr {
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

nav li {
    display: block;
    clear: both;
    float: right;
    width: 100%;

    margin-top: 2px;
    margin-bottom: 2px;

    margin-right: 10px;
    color: rgb(193, 217, 253);
}

nav li.withanim {
    color: rgb(255, 255, 255);
}

nav li.real a,
nav li.real a:hover,
nav li.real a:visited,
nav li.real a:active {
    display: block;
    width: 100%;
    color: rgb(193, 217, 253);
    transition: background-color 0.4s ease;
}

nav li.real a:hover {
  background: rgb(193, 217, 253);
  color: rgb(69, 122, 204);
}

nav li.backLava {
}


/* main section */

section#main {
    display: block;
    text-align: left;
    overflow-x: hidden;
}

section#main p { margin-top: 0px; margin-left: 0px; margin-right: 10px;
		 margin-bottom: 20px;
		 padding: 0; font-size: 20px; max-width: 650px;
	         text-align: justify; }
section#main p.title {
    font-size: 25px;
    margin-bottom: 0.5em;
    color: rgb(193, 217, 253) ;
}

section#main p.subtitle {
    font-size: 23px;
    margin-bottom: 1em;
    margin-top: 2em; 
    color: rgb(193, 217, 253) ;
}

section#main p.firstSubtitle {
    font-size: 23px;
    color: rgb(193, 217, 253) ;
}

section#main a,
section#main a:active,
section#main a:hover,
section#main a:visited { color : rgb(193, 217, 253) ;
			 font-weight: bold; }

section#main ul { margin-top: 0px; margin-left: 0px; margin-right: 10px;
		 margin-bottom: 20px;
		 padding: 0; font-size: 20px;
	         text-align: justify;
                 list-style: none;
                }

div.mainpage#news ul li:before{
    content:"*"; position:relative; left:-10px; color: rgb(193, 217, 253);
    top: 5px;
}

div.mainpage#news ul li {
    text-indent: -5px;
    border-bottom: 2px solid rgb(193, 217, 253);
    padding: 20px;
    font-family: 'Yantramanav', sans;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}


section#main .small {
    font-size: 15px;
    font-style: italic;
}

div.mainpage {
    display: none;
    position: relative;
    margin-left: 35px;
}

div.mainpage.music {
    font-family: 'Yantramanav', serif;
}

div.mainpage#bio {
    max-width: 850px;
    color: rgb(193, 217, 253);
}

div.mainpage#bio img {
    float: right;
    margin-left: 20px;
}

div.mainpage#cv {
    max-width: 850px;
}

div.mainpage table {
    width: 100%;
    border-collapse: 0;
    border-spacing: 0;
}

div.mainpage tr:nth-child(even) {
    background: rgb(170, 194, 231);
    color: rgb(0, 0, 0);
}

div.mainpage tr:nth-child(odd) {
    background: rgb(204, 218, 241);
    color: rgb(0, 0, 0);
}

div.mainpage#cv table:first-of-type tr td:nth-of-type(1) {
    width: 30%;
}

div.mainpage#cv table:first-of-type tr td:nth-of-type(2) {
    width: 37%;
}

div.mainpage#cv table:first-of-type tr td:nth-of-type(3) {
    width: 33%;
}

div.mainpage#cv td {
    font-size: 15px;
    margin: 0; padding: 5px;
}

div.mainpage#cv tr {
    margin-bottom: 10px;
}

div.mainpage#cv .subtitle, div.mainpage#cv .firstSubtitle {
    font-size: 23px;
    color: rgb(193, 217, 253) ;
    display: block;
    width: 100%;
}

div.mainpage#news {
    max-width: 850px;
}

div.mainpage#news .title {
    color: rgb(193, 217, 253);
}

/* contact section */

section#contact {

    background: rgb(193, 217, 253);
    color: rgb(69, 122, 204);

    display: block;

    width: 100%;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 0px;
    margin-right: 0px;

    z-index: 10;
    height: 18px;
    left: 0px;

}

section#contact.fixed {
    position: fixed;
    bottom: 0px;

    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.25);

//    background: rgb(69, 122, 204);
//    border-top: 1px solid rgb(193, 217, 253);
//    color: rgb(193, 217, 253);

}

section#contact.anchored {
    position: static;
}

// used to detect when section#contact goes out of view
.anchortest {
    display:block;
    width:100%;
    margin:0;
    padding:0;
}


section#contact a,
section#contact a:hover,
section#contact a:visited,
section#contact a:active {
    color: rgb(69, 122, 204);
    border-bottom: 1px dotted rgb(69, 122, 204);
}

section#contact.fixed a,
section#contact.fixed a:hover,
section#contact.fixed a:visited,
section#contact.fixed a:active {
//    color: rgb(193, 217, 253);
//    border-bottom: 1px dotted rgb(193, 217, 253);
}

#construction {
    position: fixed; right:20px; bottom: 80px; font-size:1.2em;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);
}


/* gallery */
div.mainpage#photos {
    max-width: 850px;
    overflow-y: hidden;
}

.photoalbum {
    padding-left: 10px; padding-right: 10px;
    padding-bottom: 30px;
    display: inline-block;
    width: 210px;
}

.photogallery {
    width: 210px;
    height: 180px;
}

.photogallerytitle {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 23px;
    color: rgb(193, 217, 253);
}

.photogallerysubtitle {
    text-align: left;
    width: 100%;
    text-align: justify;
    display: block;
    font-size: 18px;
    color: rgb(193, 217, 253);
}

.photocaption {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Yantramanav', sans;
    font-size: 23px;
}

/* footer */

footer {
    clear: both;
    color: rgb(69, 122, 204);
    background: rgb(193, 217, 253);
    font-size: 0.8em;
    font-weight: bold;

    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);

}

footer #rest {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

