/* Fonts */
/* main color: rgb(117, 128, 216) */
/* Make sure that footer is at the bottom of the screen */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

.wrapall {
  min-height: 100%;
  position: relative; }

.wrapmain {
  padding-bottom: 800px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.wrapcont {
  display: block;
  width: 100%; }

/* reset headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

footer {
  height: 130px;
  display: block;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0; }

/* general stuff */
body {
  color: white;
  text-align: center;
  font-family: "Yantramanav", sans;
  background: #457acc; }

a, a:hover, a:visited, a:active {
  text-decoration: none; }

a:hover {
  color: white; }

.clearing {
  clear: both; }

.initOff {
  opacity: 0.0; }

/* loading screen */
#loading {
  font-family: sans;
  font-size: 1.2em;
  position: absolute;
  right: 20px;
  bottom: 50px;
  color: white; }

/* header */
header {
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block; }

header div {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

header #title {
  font-size: 120px;
  font-family: serif;
  color: #c1d9fd; }

header #subtitle {
  font-size: 20px;
  letter-spacing: 3px;
  color: #c1d9fd;
  position: relative;
  left: -70px;
  top: -50px;
  font-weight: normal; }

header #contact {
  margin-top: 20px;
  font-size: 17px; }

/* navigation */
nav {
  display: block;
  /* 10 px around vertical line on the right */
  border-right: 1px solid white;
  padding-right: 10px;
  font-family: "Yantramanav", sans;
  font-size: 20px;
  width: 290px;
  overflow: hidden;
  float: left; }

nav ul, nav p {
  text-align: right; }

nav ul {
  list-style: none; }

nav p {
  font-size: 1.4em;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  margin-top: 25px;
  margin-bottom: 5px;
  color: #c1d9fd;
  clear: both;
  margin-right: 10px;
  margin-left: 50px; }

nav p:first-of-type {
  margin-top: 0px; }

nav p a,
nav p a:hover,
nav p a:visited,
nav p a:active {
  width: 100%;
  display: block;
  transition: background-color 0.4s ease;
  color: #c1d9fd;
  background: #457acc; }

nav p a:hover {
  background: #c1d9fd;
  color: #457acc; }

nav p a.active {
  background: #ccdffd;
  color: #457acc; }

nav hr {
  border: none;
  border-bottom: 1px solid white; }

nav li {
  display: block;
  clear: both;
  float: right;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
  color: #c1d9fd; }

nav li.withanim {
  color: white; }

nav li.real a,
nav li.real a:hover,
nav li.real a:visited,
nav li.real a:active {
  display: block;
  width: 100%;
  color: #c1d9fd;
  transition: background-color 0.4s ease; }

nav li.real a:hover {
  background: #c1d9fd;
  color: #457acc; }

nav li.real.active a {
  background: #ccdffd;
  color: #457acc; }

/* main section */
section#main {
  display: block;
  text-align: left;
  overflow-x: hidden; }

section#main p, section#main h1, section#main h2, section#main h3, section#main h4, section#main h5, section#main h6 {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 20px;
  max-width: 650px;
  text-align: justify; }

section#main h1 {
  font-size: 25px;
  margin-bottom: 0.5em;
  color: #c1d9fd; }

section#main h2 {
  font-size: 23px;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #c1d9fd; }

section#main h2:first-of-type {
  margin-top: 0px;
  font-size: 23px;
  color: #c1d9fd; }

section#main a,
section#main a:active,
section#main a:hover,
section#main a:visited {
  color: #c1d9fd;
  font-weight: bold; }

section#main ul {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0;
  font-size: 20px;
  text-align: justify;
  list-style: none; }

div.mainpage#news ul li:before {
  content: "*";
  position: relative;
  left: -10px;
  color: #c1d9fd;
  top: 5px; }

div.mainpage#news ul li {
  text-indent: -5px;
  border-bottom: 2px solid #c1d9fd;
  padding: 20px;
  font-family: "Yantramanav", sans;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px; }

section#main h6, section#main .small {
  font-size: 15px;
  font-style: italic; }

div.mainpage {
  display: none;
  position: relative;
  margin-left: 35px; }

div.mainpage.music {
  font-family: 'Yantramanav', serif; }

div.mainpage#bio {
  max-width: 850px;
  color: #c1d9fd; }

div.mainpage#bio img {
  float: right;
  margin-left: 20px; }

div.mainpage#cv {
  max-width: 850px; }

div.mainpage table {
  width: 100%;
  border-collapse: 0;
  border-spacing: 0; }

div.mainpage tr:nth-child(even) {
  background: #aac2e7;
  color: black; }

div.mainpage tr:nth-child(odd) {
  background: #ccdaf1;
  color: black; }

div.mainpage#cv table:first-of-type tr td:nth-of-type(1) {
  width: 30%; }

div.mainpage#cv table:first-of-type tr td:nth-of-type(2) {
  width: 37%; }

div.mainpage#cv table:first-of-type tr td:nth-of-type(3) {
  width: 33%; }

div.mainpage#cv td {
  font-size: 15px;
  margin: 0;
  padding: 5px; }

div.mainpage#cv tr {
  margin-bottom: 10px; }

div.mainpage#cv h2, div.mainpage#cv h2:first-of-type {
  font-size: 23px;
  color: #c1d9fd;
  display: block;
  width: 100%;
  max-width: 850px; }

div.mainpage#news {
  max-width: 850px; }

div.mainpage#news h1 {
  color: #c1d9fd; }

/* contact section */
section#contact {
  background: #c1d9fd;
  color: #457acc;
  display: block;
  width: 100%;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 10;
  height: 18px;
  left: 0px; }

section#contact.fixed {
  position: fixed;
  bottom: 0px;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25); }

section#contact.anchored {
  position: static; }

.anchortest {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; }

section#contact a,
section#contact a:hover,
section#contact a:visited,
section#contact a:active {
  color: #457acc;
  border-bottom: 1px dotted #457acc; }

#construction {
  position: fixed;
  right: 20px;
  bottom: 80px;
  font-size: 1.2em;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.5); }

/* gallery */
div.mainpage#photos {
  max-width: 850px;
  overflow-y: hidden; }

.photoalbum {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  display: inline-block;
  width: 210px; }

.photogallery {
  width: 210px;
  height: 180px; }

.photogallerytitle {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 23px;
  color: #c1d9fd; }

.photogallerysubtitle {
  text-align: left;
  width: 100%;
  text-align: justify;
  display: block;
  font-size: 18px;
  color: #c1d9fd; }

.photocaption {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Yantramanav", sans;
  font-size: 23px; }

/* footer */
footer {
  clear: both;
  color: #457acc;
  background: #c1d9fd;
  font-size: 0.8em;
  font-weight: bold;
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); }

footer #rest {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: right; }

iframe {
  margin-left: auto;
  margin-right: auto; }
